<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IAssessmentTeamLcMapper">
        <resultMap id="aclt" type="com.demo.pojo.AssessmentTeamLc">
            <id column="atid" property="atid"/>
            <result column="scoreeid" property="scoreeid"/>
            <result column="acopinion" property="acopinion"/>
            <result column="actotal" property="actotal"/>
            <association property="aclcone" javaType="com.demo.pojo.Achievementslc">
                <id column="acid" property="acid"/>
                <result column="acname" property="acname"/>
                <result column="acobjectives" property="acobjectives"/>
                <result column="actype" property="actype"/>
                <result column="acyear" property="acyear"/>
                <result column="achalf" property="achalf"/>
                <result column="starttime" property="starttime"/>
                <result column="endtime" property="endtime"/>
                <result column="acend" property="acend"/>
                <result column="fachievement" property="fachievement"/>
                <result column="fanonymous" property="fanonymous"/>
                <result column="startup" property="startup"/>
                <result column="feedbacklc" property="feedbacklc"/>
                <result column="acother" property="acother"/>
            </association>
            <association property="atlempone" javaType="com.demo.pojo.Emp">
                <id column="eid" property="eid"/>
                <result column="ename" property="ename"/>
                <result column="eiphone" property="eiphone"/>
                <result column="epass" property="epass"/>
                <result column="erutime" property="erutime"/>
            </association>
            <association property="raone" javaType="com.demo.pojo.RationLc">
                <id column="raid" property="raid"/>
                <result column="raname" property="raname"/>
                <result column="rascore" property="rascore"/>
                <result column="raothr" property="raothr"/>
            </association>
            <association property="qualitativeone" javaType="com.demo.pojo.QualitativeLc">
                <id column="quid" property="quid"/>
                <result column="quname" property="quname"/>
                <result column="quscore" property="quscore"/>
                <result column="quother" property="quother"/>
            </association>
        </resultMap>
<!--    新增一个被考核人-->
    <insert id="atlcadd" parameterType="com.demo.pojo.AssessmentTeamLc">
         insert into assessment_team_lc values(null,#{ass.atlempone.eid},#{ass.aclcone.acid},#{ass.scoreeid},#{ass.acopinion},#{ass.actotal})
    </insert>
<!--    查询被考核人-->
    <select id="onetomanyac" resultMap="aclt">
       select * from assessment_team_lc at  join achievementslc ac on at.acid = ac.acid join emp e on at.ateid = e.eid where ac.acid=#{acid} order by ac.acend desc
    </select>
<!--    查询定量表-->
<!--    <select id="aa" resultMap="aclt">-->
<!--        select * from assessment_team_lc at   join ration_lc rl on at.atid = rl.atid where at.atid=#{atid}-->
<!--    </select>-->
<!--    查询定性表-->
<!--    <select id="bb" resultMap="aclt">-->
<!--        select * from assessment_team_lc at join qualitative_lc ql on at.atid = ql.atid where at.atid=#{atid}-->
<!--    </select>-->
    
<!--    新增定量表-->
    <insert id="addration" parameterType="com.demo.pojo.RationLc">
        insert into ration_lc values(null,#{ra.raname},#{ra.rascore},#{ra.atlcraone.atid},#{ra.raothr})
    </insert>
<!--    新增定性表-->
    <insert id="addqualitative" parameterType="com.demo.pojo.QualitativeLc">
        insert into qualitative_lc values(null,#{qu.quname},#{qu.quscore},#{qu.quaclcone.atid},#{qu.quother})
    </insert>
<!--    修改总分-->
    <update id="updataat" parameterType="com.demo.pojo.AssessmentTeamLc">
        update assessment_team_lc set scoreeid=#{scoreeid},acopinion=#{acopinion},actotal=#{actotal} where atid=#{atid}
    </update>
<!--查询我参与的绩效活动-->
    <select id="byatid" resultMap="aclt">
        select * from assessment_team_lc at join achievementslc ac on at.acid = ac.acid where at.ateid=#{ateid}
    </select>
</mapper>
