<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IEmpMapper">
<!--     private Integer eid;
    private String ename;
    private Timestamp erutime;
    private String eiphone;
    private String epass;
    private Myproject myproject;
    private List<Mycanyu> mycanyu;
    private Mydynamic bdynamic;
    private Myrisk wrisk;
    private Integer pid;
    private Integer jid;
    private Integer tid;
    private Integer did;
    private Achievementslc jixiaoone;
    private AssessmentTeamLc atlctow;-->
    <resultMap id="emp" type="com.demo.pojo.Emp">
        <id column="eid" property="eid"/>
        <result column="ename" property="ename"/>
        <result column="eiphone" property="eiphone"/>
        <result column="epass" property="epass"/>
        <result column="erutime" property="erutime"/>
    </resultMap>
<!--    AchievementslcService里面使用了-->
    <select id="empbyid" resultMap="emp">
        select * from emp where eid=#{eid}
    </select>
    <!--    AchievementslcService里面使用了-->
    <select id="empall" resultMap="emp">
        select * from emp
    </select>
</mapper>
