<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IDgEntryMapper">
    <resultMap id="BaseResultMap" type="com.demo.pojo.Entry">
        <id column="enid" property="enid"/>
        <result column="emoney" property="emoney"/>
        <result column="gotime" property="gotime"/>
        <result column="creatime" property="creatime"/>
        <association property="resu" javaType="com.demo.pojo.Resume">
            <id column="rsid" property="rsid"/>
            <result column="rname" property="rname"/>
            <result column="rsex" property="rsex"/>
            <result column="rbirthday" property="rbirthday"/>
            <result column="workyear" property="workyear"/>
            <result column="education" property="education"/>
            <result column="createdate" property="createdate"/>
            <association property="recru" javaType="com.demo.pojo.Recruitment">
                <id column="rid" property="rid"/>
                <result column="hopetime" property="hopetime"/>
                <result column="peopcout" property="peopcout"/>
                <result column="recrudemand" property="recrudemand"/>
                <result column="rcreate" property="rcreate"/>
                <association property="posi" javaType="com.demo.pojo.Position">
                    <id column="pid" property="pid"/>
                    <result column="poname" property="poname"/>
                    <result column="ptype" property="ptype"/>
                    <association property="dept" javaType="com.demo.pojo.Dept">
                        <id column="did" property="did"/>
                        <result column="dname" property="dname"/>
                    </association>
                </association>
            </association>
        </association>
    </resultMap>
    <!--查询所有入职信息-->
    <select id="listEntryAll" resultMap="BaseResultMap">
        select * from entry e
        inner join resume s on e.rsid=s.rsid
        inner join recruitment r on r.rid=s.rid
        inner join position p on p.pid=r.pid
        inner join dept d on d.did=p.did
    </select>
    <!--新增入职信息-->
    <insert id="insertEntry">
        insert into entry value(null,#{rsid},#{emoney},#{gotime},#{eniphone},#{creatime})
    </insert>
</mapper>