<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IDgIntrecordMapper">
    <resultMap id="BaseResultMap" type="com.demo.pojo.Intrecord">
        <id column="irid" property="irid"/>
        <result column="iresult" property="iresult"/>
        <result column="iremark" property="iremark"/>
        <association property="invw" javaType="com.demo.pojo.Interview">
            <id column="iid" property="iid"/>
            <result column="intype" property="intype"/>
            <result column="intime" property="intime"/>
            <result column="inaddress" property="inaddress"/>
        </association>
    </resultMap>
    <!--根据面试新增面试记录-->
    <insert id="insertIntrecord">
        insert into intrecord value(null,#{iresult},#{iremark},#{iid})
    </insert>
    <!--根据面试信息编号查询面试记录-->
    <select id="getIntrecord" resultMap="BaseResultMap">
        select * from intrecord t left join interview i on t.iid=i.iid where i.iid=#{iid}
    </select>

</mapper>