<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IPxyJustMapper">
    <resultMap id="resultjust" type="com.demo.pojo.Just">
        <!--转正表-->
        <id property="jid" column="jid"/>
        <result property="justtime" column="justtime"/>
        <result property="exid" column="exid"/>
        <result property="jzong" column="jzong"/>
        <result property="jsex" column="jsex"/>
        <result property="jsehngpi" column="jsehngpi" />
        <!--员工表-->
        <association property="myemp" javaType="com.demo.pojo.Emp">
            <id property="eid" column="eid"/>
            <result property="ename" column="ename"/>
            <result property="erutime" column="erutime"/>
            <result property="eiphone" column="eiphone"/>
            <result property="epass" column="epass"/>
            <result property="ezt" column="ezt"/>
            <result property="esex" column="esex"/>
            <!--岗位表-->
            <association property="myposition" javaType="com.demo.pojo.Position">
                <id property="pid" column="pid"/>
                <result property="poname" column="poname"/>
                <association property="dept" javaType="com.demo.pojo.Dept">
                    <id property="did" column="did"/>
                    <result property="dname" column="dname"/>
                </association>
            </association>
        </association>
    </resultMap>
    <select id="listselectJust" resultMap="resultjust">
        select * from just j
        inner join emp e on j.eid=e.eid
        inner join position p on p.pid=j.pid
        inner join dept d on d.did=p.did
        <where>
            <if test="eid!=null and eid!=''">
                and e.eid=#{eid}
            </if>
            <if test="jid!=null and jid!=''">
                and j.jid =#{jid}
            </if>
        </where>
    </select>
    <select id="selectJustByjsehngpi" resultMap="resultjust">
        Select  * from just j
        inner join emp e on j.eid=e.eid
        inner join position p on p.pid=j.pid
        inner join dept d on d.did=p.did
        where j.jsehngpi=1 and e.eqianyue=0
    </select>
    <insert id="InsertJust" parameterType="com.demo.pojo.Just">
        insert into just(justtime,jzong,eid,pid)
        values (#{justtime},#{jzong},#{eid},#{pid})
    </insert>
    <select id="selectJustzui" resultType="com.demo.pojo.Just">
        Select  * from just j order by j.jid desc limit 1
    </select>

    <!--    左增源  转正表待审批查询 List<Just> listselectdsAll();-->
    <select id="listselectdsAll" resultMap="resultjust">
        SELECT j.jid,j.jzong,j.justtime,j.jsehngpi,e.ename,e.eid from just j
				LEFT JOIN emp e ON e.eid = j.eid where j.jsehngpi = 0
    </select>
    <!--    左增源  根据ID修改转正表 Integer updatezhuanzhenId(Integer jid);-->
    <update id="updatezhuanzhenId">
        UPDATE just j set j.jsehngpi = #{jsehngpi} where j.jid = #{jid}
    </update>




</mapper>