<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IQqcPurdetaislMapper">
    <resultMap id="QqcChangeMap" type="com.demo.pojo.Purdetaisl">
        <id column="purdetaislid" property="purdetaislid"/>
        <result column="pudecname" property="pudecname"/>
        <result column="pudegname" property="pudegname"/>
        <result column="pudeexpect" property="pudeexpect"/>
        <result column="pudeexpectall" property="pudeexpectall"/>
        <result column="pudenum" property="pudenum"/>
        <result column="pudeunit" property="pudeunit"/>
        <result column="pudefollow" property="pudefollow"/>

    </resultMap>
    <insert id="insertOne" parameterType="com.demo.pojo.Purdetaisl">
        insert  into purdetaisl(pudepuid, pudegname, pudecname, pudenum, pudeunit, pudeexpect, pudeexpectall, pudefollow)
        values (#{pudepuid},#{pudegname},#{pudecname},#{pudenum},#{pudeunit},#{pudeexpect},#{pudeexpectall},#{pudefollow})

    </insert>
</mapper>