<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IQqcActualpurdetailsMapper">
    <resultMap id="QqcChangeMap" type="com.demo.pojo.Actualpurdetails">
        <id column="actualpurdetailsid" property="actualpurdetailsid"/>
        <result column="acputdeactual" property="acputdeactual"/>
        <result column="acputdeactualall" property="acputdeactualall"/>
        <result column="acputdecname" property="acputdecname"/>
        <result column="acputdefollow" property="acputdefollow"/>
        <result column="acputdename" property="acputdename"/>
        <result column="acputdequantity" property="acputdequantity"/>
        <result column="acputdeunit" property="acputdeunit"/>
    </resultMap>
    <insert id="insertOne" parameterType="com.demo.pojo.Actualpurdetails">
        insert  into actualpurdetails(acputdepuid, acputdename, acputdecname, acputdequantity, acputdeunit, acputdeactual, acputdeactualall, acputdefollow)
        values (#{acputdepuid},#{acputdename},#{acputdecname},#{acputdequantity},#{acputdeunit},#{acputdeactual},#{acputdeactualall},#{acputdefollow})
    </insert>
</mapper>