<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IQqcNumsetMapper">
    <resultMap id="QqcSetMap" type="com.demo.pojo.Numset">
        <id column="nid" property="nid"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
        <result column="num" property="num"/>
    </resultMap>
    <select id="getone" resultMap="QqcSetMap">
        select * from numset
        where nid = 1
    </select>
    <update id="updateone" parameterType="com.demo.pojo.Numset">
        update numset
        set

            year=#{year},
            month=#{month},
            day =#{day},
            num =#{num}
            where nid =1
    </update>
</mapper>