<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IQqcPurchaseMapper">
    <resultMap id="QqcChangeMap" type="com.demo.pojo.Purchase">
        <id column="purchaseid" property="purchaseid"/>
        <result column="purchasedept" property="purchasedept"/>
        <result column="purchasemoney" property="purchasemoney"/>
        <result column="purchasename" property="purchasename"/>
        <result column="purchasereson" property="purchasereson"/>
        <result column="purchasestart" property="purchasestart"/>
        <result column="purchasetype" property="purchasetype"/>
        <association property="emp" javaType="com.demo.pojo.Emp">
            <id column="eid" property="eid"/>
            <result column="ename" property="ename"/>
        </association>
        <collection property="acpurchase" ofType="com.demo.pojo.Actualpurdetails">
            <id column="actualpurdetailsid" property="actualpurdetailsid"/>
            <result column="acputdeactual" property="acputdeactual"/>
            <result column="acputdeactualall" property="acputdeactualall"/>
            <result column="acputdecname" property="acputdecname"/>
            <result column="acputdefollow" property="acputdefollow"/>
            <result column="acputdename" property="acputdename"/>
            <result column="acputdequantity" property="acputdequantity"/>
            <result column="acputdeunit" property="acputdeunit"/>
        </collection>
        <collection property="depurchase" ofType="com.demo.pojo.Purdetaisl">
            <id column="purdetaislid" property="purdetaislid"/>
            <result column="pudecname" property="pudecname"/>
            <result column="pudegname" property="pudegname"/>
            <result column="pudeexpect" property="pudeexpect"/>
            <result column="pudeexpectall" property="pudeexpectall"/>
            <result column="pudenum" property="pudenum"/>
            <result column="pudeunit" property="pudeunit"/>
            <result column="pudefollow" property="pudefollow"/>
        </collection>

    </resultMap>
    <select id="listSelectAll" resultMap="QqcChangeMap">
        select * from purchase p
        left join emp e  on p.purchaseempid=e.eid
        left join purdetaisl p2  on p.purchaseid=p2.pudepuid
        left join actualpurdetails a on p.purchaseid=a.acputdepuid
        <where>
            <if test="purchasetype != null and purchasetype != ''">
                and purchasetype like concat('%',#{purchasetype,jdbcType=VARCHAR},'%')
            </if>
            <if test="start !=null and start !=''">
                and   date_format(purchasestart,'%y%m%d') &gt;= date_format(#{start},'%y%m%d')
            </if>
            <if test="end !=null and end != ''">
                and   date_format(purchasestart,'%y%m%d') &lt;= date_format(#{end},'%y%m%d')
            </if>
            <if test="pname !=null and pname != ''">
                and purchasename like concat('%',#{pname,jdbcType=VARCHAR},'%')
            </if>
            <if test="empid !=null and empid != ''">
                and e.eid = #{empid}
            </if>
        </where>
    </select>
</mapper>