<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IZzlxiangmuMapper">

    <resultMap id="all" type="com.demo.pojo.Myproject">
        <id property="xid" column="xid"/>
        <result property="xname" column="xname"/>
        <result property="startime" column="startime"/>
        <result property="state" column="state"/>
        <result property="endtime" column="endtime"/>
        <result property="evel" column="evel"/>
        <result property="cdate" column="cdate"/>
        <result property="jindu" column="jindu"/>
        <result property="ziping" column="ziping"/>
        <association property="myfzr" javaType="com.demo.pojo.Emp">
            <id property="eid" column="eid"/>
            <result property="ename" column="ename"/>
        </association>

        <association property="mytype" javaType="com.demo.pojo.Projectype">
            <id property="tid" column="tid"/>
            <result property="tname" column="tname"/>
        </association>
    </resultMap>
<!--    and m.empno=1 and m.tid=1 and m.state=1 and m.evel=1-->
    <select id="listxiangmu" resultMap="all">
        select m.xid,t.tname,m.xname,e.ename,m.startime,m.state,m.endtime,m.evel,m.cdate,m.jindu,m.ziping from myproject m,projectype t,emp e where m.tid=t.tid and e.eid=m.empno
        <if test="empno!=null and empno>0">
            and m.empno=#{empno}
        </if>
        <if test="tid!=null and tid>0">
            and m.tid=#{tid}
        </if>
        <if test="state!=null and state>0">
            and m.state=#{state}
        </if>
        <if test="evel!=null and evel>0">
            and m.evel=#{evel}
        </if>
        order by m.xid

    </select>

    <select id="listxiangmuBystate" resultMap="all">
        select m.xid,t.tname,m.xname,e.ename,m.startime,m.state,m.endtime,m.evel,m.cdate,m.jindu,m.ziping from myproject m,projectype t,emp e where m.tid=t.tid and e.eid=m.empno and m.state=1
        <if test="empno!=null and empno>0">
            and m.empno=#{empno}
        </if>
        <if test="tid!=null and tid>0">
            and m.tid=#{tid}
        </if>
        <if test="state!=null and state>0">
            and m.state=#{state}
        </if>
        <if test="evel!=null and evel>0">
            and m.evel=#{evel}
        </if>
        order by m.xid

    </select>


    <insert id="addxiangmu" parameterType="com.demo.pojo.Myproject" useGeneratedKeys="true" keyProperty="x.xid">
                insert into myproject(xname,empno,startime,endtime,explains,evel,cdate,tid) VALUES(#{x.xname},#{empno},#{x.startime},#{x.endtime},#{x.explains},#{x.evel},#{x.cdate},#{tid})
    </insert>

    <insert id="addjilu">
           insert into mydynamic(empno,btype,content,cdate,xid) VALUES(#{empno},#{btype},#{content},#{cdate},#{xid})
    </insert>

    <insert id="addshenpi">
           insert into examine(exstate,exuser,wxwid) values(#{exstate},#{exuser},#{wxwid})
    </insert>

    <resultMap id="counts" type="com.demo.pojo.Myproject">
        <result property="xid" column="num"/>
        <result property="state" column="state"/>
    </resultMap>
    <!--根据项目状态统计-->
    <select id="countxiangmu" resultMap="counts">
         select count(m.state) as num,m.state from myproject m GROUP BY m.state
    </select>

    <resultMap id="type" type="com.demo.pojo.Myproject">
        <result property="xid" column="tid"/>
        <result property="xname" column="cname"/>
    </resultMap>
<!--根据类型统计-->
    <select id="countype" resultMap="type">
        select count(m.tid) as tid,t.tname as cname from myproject m,projectype t where m.tid=t.tid GROUP BY m.tid
    </select>

    <select id="countevel" resultMap="type">
        select count(m.evel) as tid,m.evel as cname from myproject m GROUP BY m.evel
    </select>

    <select id="xmtype" resultType="com.demo.pojo.Projectype">
        select t.tid,t.tname from projectype t
    </select>

    <resultMap id="dn" type="com.demo.pojo.Emp">
        <result property="ename" column="ename"/>
    </resultMap>

    <select id="getdname" resultMap="dn">
        select e.ename as ename from emp e,dept d where e.did=d.did and e.eid=#{eid}
    </select>


    <select id="listemp" resultType="com.demo.pojo.Emp">
         select e.eid,e.ename from emp e
    </select>

    <resultMap id="risk" type="com.demo.pojo.Myrisk">
        <id property="fid" column="fid"/>
        <result property="fname" column="fname"/>
        <result property="btype" column="btype"/>
        <result property="content" column="content"/>
        <result property="cuoshi" column="cuoshi"/>
        <result property="cdate" column="cdate"/>
        <result property="level" column="level"/>
        <result property="influence" column="influence"/>
        <association property="wemp" javaType="com.demo.pojo.Emp">
            <id property="eid" column="eid"/>
            <result property="ename" column="ename"/>
        </association>
        <association property="mproject" javaType="com.demo.pojo.Myproject">
            <id property="xid" column="xid"/>
            <result property="xname" column="xname"/>

        </association>

    </resultMap>

    <select id="listrisk" resultMap="risk">
       select x.xid,x.xname,e.ename,w.fid,w.fname,w.btype,w.content,w.cuoshi,w.cdate,w.level,w.influence from myproject x,emp e,myrisk w where x.xid=w.xid and e.eid=w.empno and w.xid=#{xid}
    </select>


</mapper>