<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IZzlLoginMapper">

    <select id="getLogin" resultType="com.demo.pojo.Emp">
        select e.eid,e.ename from emp e where e.eiphone=${phone} and e.epass=${pass}
    </select>

</mapper>