<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IZzyexamineMapper">
    <resultMap id="shenpiResilt" type="com.demo.pojo.Examine">
        <id column="exid" property="exid"/>
        <result column="exstate" property="exstate"/>
        <result column="wxwid" property="wxwid"/>
        <result column="exdate" property="exdate"/>
        <result column="exyijian" property="exyijian"/>
        <result column="extype" property="extype"/>

        <collection property="myexemp" ofType="com.demo.pojo.Emp">
            <id column="eid" property="eid"/>
            <result column="ename" property="ename"/>
        </collection>
    </resultMap>

<!--    查询所有待审批 List<Examine> selectdsAll();-->
    <select id="selectdsAll" resultMap="shenpiResilt">
        SELECT p.*,e.* from examine e LEFT JOIN emp p ON e.exuser=p.eid where e.extype = 0
    </select>

<!--    查询所有通过 List<Examine> selectysAll();-->
    <select id="selectysAll" resultMap="shenpiResilt">
        SELECT p.*,e.* from examine e LEFT JOIN emp p ON e.exuser=p.eid where e.extype = 1
    </select>
    <!--新增审批表-->
    <insert id="insertExamine" parameterType="com.demo.pojo.Examine">
        insert into examine(exstate ,wxwid)
        values (#{exstate},#{wxwid})
    </insert>
</mapper>
