<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IQqcassetsMapper">
    <resultMap id="QqcsetMap" type="com.demo.pojo.Assets">
        <id column="assetsid" property="assetsid"/>
        <result column="assetsgstatus" property="assetsgstatus"/>
        <result column="assetsname" property="assetsname"/>
        <result column="assetsnum" property="assetsnum"/>
        <result column="assetsorivalue" property="assetsorivalue"/>
        <result column="assetsquantity" property="assetsquantity"/>
        <result column="assetsretime" property="assetsretime"/>
        <result column="assetsstatus" property="assetsstatus"/>
        <result column="assetstype" property="assetstype"/>
        <collection property="conde" ofType="com.demo.pojo.Consumingdetails">

        </collection>

    </resultMap>
    <select id="listSelectAll" resultMap="QqcsetMap">
        select  * from
        assets
        <where>

        </where>
    </select>
</mapper>
