<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.IRationLcMapper">
            <resultMap id="aaa" type="com.demo.pojo.RationLc">
                <id column="raid" property="raid"/>
                <result column="raname" property="raname"/>
                <result column="rascore" property="rascore"/>
                <result column="raothr" property="raothr"/>
                <association property="atlcraone" javaType="com.demo.pojo.AssessmentTeamLc">
                    <id column="atid" property="atid"/>
                    <result column="scoreeid" property="scoreeid"/>
                    <result column="acopinion" property="acopinion"/>
                    <result column="actotal" property="actotal"/>
                </association>
            </resultMap>
    <!--    查询定量表-->
    <select id="aa" resultMap="aaa">
        select * from ration_lc where atid=#{atid}
    </select>
</mapper>
