<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.model.Mapper.ISummarylcMapper">
<!--     private Integer suid;
    private String suneirong;
    private Date sutime;
    private String suother;
    private AssessmentTeamLc summarylcatone;-->
        <resultMap id="vvv" type="com.demo.pojo.Summarylc">
            <id column="suid" property="suid"/>
            <result column="suneirong" property="suneirong"/>
            <result column="sutime" property="sutime"/>
            <result column="suother" property="suother"/>
            <association property="summarylcatone" javaType="com.demo.pojo.AssessmentTeamLc">
                <id column="atid" property="atid"/>
                <result column="scoreeid" property="scoreeid"/>
                <result column="acopinion" property="acopinion"/>
                <result column="actotal" property="actotal"/>
            </association>
        </resultMap>
<!--    新增一个总结表-->
    <insert id="addSummarylc" parameterType="com.demo.pojo.AppealFormLc">
         insert into summarylc values(null,#{s.suneirong},#{s.summarylcatone.atid},#{s.sutime},#{s.suother})
    </insert>
<!--    查询所有的总结表-->
    <select id="selectsu" resultMap="vvv">
        select * from summarylc af join assessment_team_lc at on af.atid = at.atid
    </select>
</mapper>
